doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title html css practice example
  body
    include header.pug
    include main.pug
    include footer.pug