footer {
  color: var(--lighter-grey);
  margin-top: 72px;

  font-size: 0.85em;
}

footer a {
  text-decoration: none;
}

.footer-rest-container, .footer-upper {
  width: var(--container-width);
  margin: auto;
}

.tinkoff {
  margin-top: 24px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.tinkoff a {
  color: var(--darkest-grey);
}

.telno {
  color: black;
  font-size: 1.6rem;
  font-family: "Tinkoff Sans";
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 16px;
}

.about > span {
  line-height: 1.65em;
  flex-shrink: 0;
}

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-list li {
  margin-right: 16px;
  line-height: 1.65em;
}

.about-list li:last-child {
  margin-right: 0;
}

.footer-rest {
  background-image: url("!!file-loader!../../asset/emblem.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--tinkoff-grey);

  padding: 0 48px;
}

.footer-rest-container {
  display: flex;
  flex-direction: column;
}

.footer-rest a {
  color: var(--lighter-grey);
  transition: color 0.2s ease-in;
}

.footer-rest a:hover {
  color: var(--darkest-grey);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.services-list li {
  line-height: 34px;
}

.services-more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 16px;
}

.service-heading a {
  text-transform: uppercase;
  color: var(--light-grey);
}

.info {
  display: flex;
  flex-direction: column;
}

.info h4 {
  color: var(--lighter-grey);
  margin-top: calc(1.15em + 8px);
  margin-bottom: 1.15em;
  text-transform: uppercase;
}

.info p {
  line-height: 1.5em;
  margin: 0;
}

.info-sources {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1.1em;
  padding: 0;
}

.info-sources li {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 4px;
}

.info-sources li:last-child {
  margin-right: 0;
}

.info-misc {
  display: flex;
  flex-direction: column;
}

.info-misc p {
  line-height: 1.5em;
  margin: 1.25em 0;
}

.info-misc p:last-child {
  margin-top: 0px;
}

.social-media li {
  margin-right: 16px;
}

.social-media li:last-child {
  margin-right: 36px;
}

.social-media a {
  display: block;
}

.social-media a svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.language a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language .uk {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  display: block;
}

.uk svg {
  display: block;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 16px;
  padding-bottom: 16px;
}

.footer-bottom .right {
  display: flex;
  flex-direction: row;
}

a.regular-link {
  color: var(--navy-blue);
  transition: color 0.2s ease-in;
}

a.regular-link:hover {
  color: var(--marine-blue);
}