:root {
  --menu-line-height: 60px;
}
  
header {
  padding: 0 48px;
  min-width: 900px;
}

nav {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

.navigation-menu a, .submenu a {
  text-decoration: none;
  color: black;
}

.navigation-menu, .submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 0.85em;
}

.logo {
  display: block;
}

.menu-item {
  margin-right: 20px;
  display: block;
  border: none;
  
  position: relative;
  transition: all 0.2s ease-in;
}

.menu-item::after {
  content: " ";
  display: block;
  width: 100%;
  background-color: var(--extralight-grey);
  
  transition: all 0.2s ease-in;
  height: 0px;
  opacity: 0;
}

.menu-item:hover::after {
  margin-top: -2px;
  height: 2px;
  opacity: 1;
}

.menu-item > a {
  display: block;
  height: 100%;

  line-height: var(--menu-line-height);
  color: var(--light-grey);
}

.menu-item:hover a {
  color: var(--darkest-grey);
}

.menu-item.selected::after {
  background-color: var(--darkest-grey);
  height: 2px;
  margin-top: -2px;
  opacity: 1;
  
  transition: none;
}

.menu-item.selected a {
  color: var(--darkest-grey);
}

.dropdown {
  position: absolute;
  z-index: 100;
  
  transition: top, visibility, opacity, 0.2s ease-in;
  top: 72px;
  opacity: 0;
  visibility: hidden;
}

.menu-more .dropdown, .submenu-more .dropdown {
  right: 0;
  top: 45px;
}

.dropdown-content {
  padding: 8px 0;
  border: 1px solid var(--extralight-grey);
  border-radius: 4px;
  list-style-type: none;
  background: white;
  
  box-shadow: 0px 10px 16px rgba(0,0,0,0.15);
}

.dropdown .transparent-block {
  height: 8px;
  width: 100%;
  background-color: transparent;
}

.dropdown-item {
  line-height: 30px;
}

.dropdown-item:hover {
  background-color: #F6F7F8;
}

.dropdown-item a {
  display: block;
  margin: auto; 
  color: black;
  text-align: start;
  padding: 0 12px;
  width: 132px;
}

.dropdown-item:hover a {
  color: #2670CF;
}

.menu-more-travel, .menu-more-entertainment {
  display: none;
}

@media screen and (min-width: 1080px) {
  .menu-more {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .menu-travel {
    display: none;
  }

  .menu-more-travel {
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  .menu-entertainment {
    display: none;
  }

  .menu-more-entertainment {
    display: block;
  }
}

.submenu-more-refinance, .submenu-more-auto-loan {
  display: none;
}

@media screen and (min-width: 960px) {
  .submenu-more {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .submenu-auto-loan {
    display: none;
  }

  .submenu-more-auto-loan {
    display: block;
  }
}

.menu-more .dropdown-item a {
  width: 110px;
}

.submenu-more .dropdown-item a {
  width: 96px;
}

.menu-item:hover .dropdown {
  visibility: visible;
  opacity: 1;
  top: 62px;
}

.menu-item.menu-more:hover .dropdown, .menu-item.submenu-more:hover .dropdown {
  visibility: visible;
  opacity: 1;
  top: 35px;
}

.menu-item svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.navitem:last-child {
  margin-right: 0px;
}

.logo {
  background-image: url("!!file-loader!../../asset/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 34px;
  margin-right: 40px;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: block;
  color: var(--navy-blue);
  text-decoration: none;

  transition: color 0.2s ease-in;
  font-size: 0.85em;
}

.login:hover {
  color: var(--darkest-grey);
}

.login > * {
  vertical-align: middle;
}

.login-icon {
  display: inline-block;

  margin-left: 4px;
}

.login-icon svg {
  display: block;
  width: 24px;
  height: 24px;
}

.hidden {
  visibility: hidden;
}