.interesting-card {
  position: relative;
  margin-top: 48px;

  flex: 0 0 50%;
}

.interesting-card:nth-child(2n) {
  margin-right: 0;
}

.interesting-card-header {
  margin: 20px 0;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5em;

  transition: color 0.2s ease-in;
}

.interesting-card-container {
  position: relative;
  padding: 32px;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: var(--tinkoff-grey);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.interesting-card-container:hover .interesting-card-header {
  color: var(--navy-blue);
}

.interesting-card-content p {
  line-height: 1.65em;
  margin: 20px 0;
  height: 45px;
}

.interesting-card-action {
  margin-top: 40px;
  text-decoration: none;
  
  color: var(--navy-blue);
  transition: color 0.2s ease-in;

  position: relative;
  z-index: 200;
}

.interesting-card-action:hover {
  color: var(--marine-blue);
}

.interesting-card-stretched-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
