@media screen and (min-width: 1340px) {
  :root {
    --container-width: 1080px;
  }
}

@media screen and (max-width: 1340px) {
  :root {
    --container-width: 800px;
  }
}

main {
  color: var(--darkest-grey);
}

@import "./product-card.scss";
@import "./trust-card.scss";
@import "./service-card.scss";
@import "./interesting-card.scss";
@import "./feedback-card.scss";

@media screen and (max-width: 1340px) {
  .splash-content {
    height: 448px;
  }

  .splash-image {
    width: 1024px;
    height: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1340px) {
  .splash-content {
    height: 480px;
  }

  .splash-image {
    width: 1360px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


.splash {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--darkest-grey);

  background-color: var(--tinkoff-grey);

  overflow-x: hidden;
}

.splash-image {
  background-image: url("../../asset/tinkoff-splash.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  z-index: 1;
}

a.splash-stretched-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.splash-gradient-backdrop {
  background: linear-gradient(rgba(0,0,0,0.08) 0%, transparent 10%);
  position: absolute;
  top: 0;
  bottom: 0;
  
  left: 0;
  right: 0;
  z-index: 50;
}

.splash-content {
  position: relative;

  width: var(--container-width);
  margin: auto;
  padding: 16px 0;
}

.offer {
  position: relative;
  z-index: 2;

  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.offer h1 {
  margin: 28px 0;
  font-weight: normal;
  font-size: 36px;
}

.offer-text {
  margin-bottom: 200px;
  line-height: 1.65em;
}

.offer-button {
  border: none;
  outline: none;
  position: relative;
  z-index: 200;
  display: inline-block;
  font-size: 1em;
  color: var(--darkest-grey);
  
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 0;
  
  transition: background-color 0.2s ease-in;
  background-color: var(--gold);
}

.offer-button a {
  padding: 20px 32px;
  display: block;
  text-decoration: none;
  color: var(--darkest-grey);
}

.offer-button:hover {
  background-color: var(--dark-gold);
}

.products, .services, .trust, .interesting, .feedback {
  padding: 48px 0;
}

section .heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 2.5em;
}

.services {
  background: var(--tinkoff-grey);
}

.feedback-heading {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

.products-content, .trust-content, .services-content, .interesting-content, .feedback-content  {
  padding: 0 16px;
}

.product-card {
  padding: 0 16px;
}

.products-content, .trust-content, .services-content, .interesting-content, .feedback-content {
  width: var(--container-width);
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .product-card, .trust-card, .service-card, .interesting-card, .feedback-card {
    padding-left: 8px;
    padding-right: 8px;
  }

  .products-items, .trust-items, .services-items, .interesting-items, .feedback-items {
    margin-right: -8px; 
    margin-left: -8px; 
  }
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
  .product-card, .trust-card, .service-card, .interesting-card, .feedback-card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .products-items, .trust-items, .services-items, .interesting-items, .feedback-items {
    margin-right: -20px; 
    margin-left: -20px;
  }
}

@media screen and (min-width: 1340px) {
  .product-card, .trust-card, .service-card, .interesting-card, .feedback-card {
    padding-left: 24px;
    padding-right: 24px;
  }

  .products-items, .trust-items, .services-items, .interesting-items, .feedback-items {
    margin-right: -24px; 
    margin-left: -24px; 
  }
}

.products-items, .trust-items, .services-items, .interesting-items, .feedback-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.product-card-casco .product-card-image {
  background-image: url("../../asset/tinkoff-casco.png");
}

.product-card-osago .product-card-image {
  background-image: url("../../asset/tinkoff-osago.png");
}

.product-card-business .product-card-image {
  background-image: url("../../asset/tinkoff-business.png");
}

.product-card-credit .product-card-image {
  background-image: url("../../asset/tinkoff-credit.png");
}

.product-card-our-best-cards .product-card-image {
  background-image: url("../../asset/tinkoff-our-best-cards.png");
}

.product-card-invest .product-card-image {
  background-image: url("../../asset/tinkoff-invest.png");
}

.trust-card-3rd .trust-card-image {
  background-image: url("../../asset/tinkoff-3rd.png");
}

.trust-card-best-worldwide .trust-card-image {
  background-image: url("../../asset/tinkoff-best-worldwide.png");
}

.service-card-mobile-apps .service-card-image {
  background-image: url("../../asset/tinkoff-mobile-apps.png");
  background-repeat: no-repeat;
  background-position-y: -32px;
  
}

@media screen and (max-width: 1340px) {
  .service-card-mobile-apps .service-card-image {
    background-position-x: 300px;
  }
}

@media screen and (min-width: 1340px) {
  .service-card-mobile-apps .service-card-image {
    background-position-x: 600px;
  }
}

.interesting-card-jobs .interesting-card-container {
  background-image: url("../../asset/tinkoff-jobs.png");
}

.interesting-card-education .interesting-card-container {
  background-image: url("../../asset/tinkoff-education.png");
}

.interesting-card-magazine .interesting-card-container {
  background-image: url("../../asset/tinkoff-magazine.png");
}

.interesting-card-all-products .interesting-card-container {
  background-image: url("../../asset/tinkoff-all-products.png");
}

.feedback-card .feedback-card-container {
  background-image: url("../../asset/tinkoff-feedback.png");
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .feedback-card-content {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
  .feedback-card {
    background-position: bottom 0px right -60px;
  }

  .feedback-card-content {
    width: 43%;
  }
}

@media screen and (min-width: 1340px) {
  .feedback-card-content {
    width: 60%;
  }

  .feedback-card-action-container {
    margin-top: 40px;
  }
}


@media screen and (max-width: 1340px) {
  .feedback-card .feedback-card-container {
    background-position-x: 300px;
  }
}

@media screen and (min-width: 1340px) {
  .feedback-card .feedback-card-container {
    background-position-x: 580px;
  }
}