.product-card {
  position: relative;
  margin-top: 48px;

  flex: 0 0 33.33%;
}

.product-card a {
  text-decoration: none;
}

.product-card-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-card-image {
  height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-card-header {
  margin: 20px 0;
  font-weight: normal;
  font-size: 1.5em;

  transition: color 0.2s ease-in;
}

.product-card-container:hover .product-card-header {
  color: var(--navy-blue);
}

.product-card-content {
  line-height: 1.65em;
  margin: 20px 0;
}

.product-card-action-button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  color: var(--navy-blue);
  
  transition: background-color 0.2s ease-in;
  background-color: var(--blue-grey);
  
  position: relative;
  z-index: 200;
}

.product-card-action-button:hover {
  background-color: var(--blue-grey-darker);
}

.product-card-stretched-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}