.service-card {
  margin-top: 48px;

  flex: 0 0 50%;
}

.service-card-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;

  background-color: white;

  position: relative;
  top: 0;
  box-shadow: none;

  transition: top, box-shadow, ease-in 0.2s;
}

.service-card-container:hover {
  top: -3px;
  box-shadow: 0px 0px 24px rgba(0,0,0,0.2);
}

.service-card.w100 {
  width: 100%;
  margin-right: 0;
  flex: initial;
}

.service-card-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w100 .service-card-content-container {
  display: block;
}

.service-card-right-block {
  width: 55px;
}

.service-card-right-block svg {
  width: 55px;
}

.service-card-header {
  margin: 20px 0;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 0;
}

.service-card-content p {
  line-height: 1.65em;
  margin: 20px 0;
}

.service-card-action {
  text-decoration: none;
  
  color: var(--navy-blue);
  transition: color 0.2s ease-in;

  position: relative;
  z-index: 200;
}

.service-card-action:hover {
  color: var(--marine-blue);
}

.service-card-stretched-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.service-card-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}