.trust-card {
  margin-top: 48px;
  color: var(--darkest-grey);

  flex: 0 0 50%;
}

.trust-card-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--tinkoff-grey);

  padding: 32px;
  position: relative;
}

.trust-card a {
  text-decoration: none;
}

.trust-card-image {
  margin-top: -32px;
  margin-left: -32px;
  margin-right: -32px;
  
  height: 240px;
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  background-color: var(--dark-grey);
}

.trust-card-header {
  margin: 20px 0;
  font-weight: normal;
  font-size: 1.5em;

  color: var(--darkest-grey);
  transition: color 0.2s ease-in;
}

.trust-card-content {
  background: var(--tinkoff-grey);
}

.trust-card-content p {
  line-height: 1.65em;
  margin: 20px 0;
}

.trust-card-action-button {
  display: inline-block;
  padding: 14px 26px;
  border-radius: 4px;
  color: var(--navy-blue);
  
  transition: border-color 0.2s ease-in;

  position: relative;
  border: 1px solid var(--navy-blue);
  background-color: var(--tinkoff-grey);

}

.trust-card-action-button:hover {
  border-color: var(--marine-blue);
}