section.feedback
  .feedback-content
    h2.feedback-heading.heading Отзывы клиентов Тинькофф
    .feedback-items
      .feedback-card
        .feedback-card-container
          .feedback-card-content-container
            h3.feedback-card-header Оставьте свой комментарий о нашей работе
            .feedback-card-content
              p Мы получаем много отзывов от наших клиентов. Решили поделиться некоторыми из них. Также вы можете отправить свою обратную связь о работе Тинькофф.
          .feedback-card-action-container
            a(href="https://www.tinkoff.ru/otzyyvy/tinkoff-debitcards/?internal_source=home").feedback-card-action Подробнее